<a href="/cadastrar"><button type="button" class="btn btn-success">Cadastrar Cliente</button></a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each cliente}}
        <tr>
            <th>{{nome}}</th>
            <td>{{cpf}}</td>
            <td>{{email}}</td>
            <td>
                <a href="/ediReq/{{idcliente}}"><button type="submit" class="btn btn-warning">Editar</button></a>
                <a href="/delReq/{{idcliente}}"><button type="submit" class="btn btn-danger">Apagar</button></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
